
.container {
  max-width: 1200px;
}

.card-header {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #cbf5f3;
  border-bottom: 1px solid #171a0f;
}

.table {
  margin-bottom: 0;
}

.table th, .table td {
  text-align: center;
}

h5 {
  margin-top: 15px;
  font-weight: bold;
}
